<p>
  <strong><%= t('activerecord.attributes.address.zipcode') %>:</strong>
  <%= address.zipcode %>
</p>
<p>
  <strong><%= t('activerecord.attributes.address.address') %>:</strong>
  <%= address.address %>
</p>
<p>
  <strong><%= t('activerecord.attributes.address.complement') %>:</strong>
  <%= address.complement %>
</p>
<p>
  <strong><%= t('activerecord.attributes.address.neighborhood') %>:</strong>
  <%= address.neighborhood %>
</p>
<p>
  <strong><%= t('activerecord.attributes.address.state') %>:</strong>
  <%= address.state %>
</p>

<p>
  <strong><%= t('activerecord.attributes.address.city') %>:</strong>
  <%= address.city %>
</p>
