<%
  content_for :stylesheet do
    stylesheet_link_tag 'dataTables.bootstrap4.min', media: 'all', 'data-turbolinks-track': 'reload'
  end
%>

<%
  content_for :javascript do
    javascript_include_tag 'datatables.js'
  end
%>

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800"><%= t('property.index.title') %></h1>
<%= @indexPresenter.subtitle %>

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th><%= t('activerecord.attributes.property.reference') %></th>
            <th><%= t('activerecord.attributes.property.title') %></th>
            <th><%= t('activerecord.attributes.property.price') %></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th><%= t('activerecord.attributes.property.reference') %></th>
            <th><%= t('activerecord.attributes.property.title') %></th>
            <th><%= t('activerecord.attributes.property.price') %></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
        <tbody>
          <% @indexPresenter.properties.each do |property| %>
            <tr>
              <td><%= property.reference %></td>
              <td><%= property.title %></td>
              <td><%= property.price %></td>
              <td>edit</td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
